.page-title {
  font-size: 3.5vw;
  color: #443a2e;
  text-align: center;
}

.cart-page-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.cart-product-img {
  width: 25vw;
}

.cart-page-item-meta {
  margin: 1em;
  font-size: 2vw;
}

.cart-page-item-name {
  font-size: 3vw;
}

h4, p {
  display: inline-block;
}

.cart-page-item input {
  width: 6vw;
  font-size: 2vw;
}

.cart-page-item-data {
  font-size: 2.5vw;
  margin: 1em;
}

.cart-page-item-data h4, .cart-page-item-data p {
  display: block;
}

.remove-btn {
  font-size: 2vw;
  color: #faf9f6;
  background-color: #ee4b2b;
  padding: 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1.5em;
  border-radius: 5px;
}

.cart-summary {
  width: 95vw;
  font-size: 2vw;
  color: #443a2e;
  background-color: #d7c89d;
  margin: 1em auto;
  padding: 0.3em;
  text-align: justify;
}

.summary-title-container {
  text-align: center;
  font-size: 2vw;
  margin: 0.5em 0;
}

.coupon {
  margin: 0.5em auto;
  border-bottom: 2px solid #443a2e;
  padding: 1em;
  width: 90%;
}

.coupon h4 {
  display: block;
}

.coupon form {
  text-align: center;
  margin: 0.5em;
}

.coupon input {
  font-size: 2vw;
  width: 60vw;
  height: 2em;
  padding-left: 0.5em;
  outline: none;
  border: 1px solid #443a2e;
}

.coupon-btn {
  font-size: 2vw;
  font-weight: bold;
  background-color: #ffd700;
  height: 2em;
  width: 10vw;
  margin: -1em;
  border: 1px solid #443a2e;
}

.cart-totals {
  width: 90%;
  padding: 1em;
  margin: auto;
}

.cart-total-value {
  margin-bottom: 0.5em;
}

.grand-total {
  font-size: 2.5vw;
  width: 90%;
  padding: 1em;
  margin: auto;
  border-top: 2px solid #443a2e;
}

.btn-checkout {
  font-size: 4vw;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 10vw;
  height: 10vw;
  background-color: #443a2e;
  color: #faf9f6;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 2.5vw;
  }

  .cart-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .cart-page-item {
    width: 65vw;
    margin: 0 1em 1em;
  }

  img.cart-product-img {
    width: 20vw;
    height: 14.5vw;
  }

  .cart-page-item-meta {
    font-size: 1.1vw;
  }

  .cart-page-item-name {
  font-size: 2vw;
  }

  .cart-page-item input {
    width: 4vw;
    height: 2em;
    font-size: 1.1vw;
  }

  .cart-page-item-data {
    font-size: 1.5vw;
  }

  .remove-btn {
    font-size: 1.1vw;
  }

  .cart-summary {
    width: 30vw;
    font-size: 1.5vw;
    margin: 0 1em 0 0;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
  }

  .summary-title-container {
    font-size: 1.5vw;
  }

  .coupon input {
    font-size: 1.5vw;
    width: 16vw;
  }

  .coupon-btn {
    font-size: 1.5vw;
    width: 5vw;
  }

  .grand-total {
    font-size: 1.8vw;
  }

  .btn-checkout {
    font-size: 2vw;
    line-height: 3.5vw;
    height: 5vw;
  }

  a.btn-checkout {
    color: #faf9f6;
  }
}