/*==================== Mobile Header ====================*/
.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header-logo img {
  width: 4em;
  height: 30px;
}

#desktop-header {
  display: none;
}

/*========== Topbar ==========*/
.topbar {
  color: #f2f4e6;
  background-color: #2c542f;
  width: 100vw;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#menu-button {
  margin-left: 25px;
}

.header-title {
  font-family: Vollkorn, 'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.header-icon {
  color: #f2f4e6;
  font-size: 40px;
  height: 2rem;
  position: relative;
  bottom: 1.8em;
}

.header-icon a {
  color: #f2f4e6;
}

.cart-quantity {
  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: #f2f4e6;
  border-radius: 50%;
  position: relative;
  bottom: 2.5em;
  right: 2em;
  color: #2c542f;
  font-size: 12px;
}

.cart-quantity span {
  position: relative;
  top: 0.25em;
}

/*========== Search Bar ==========*/
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2c542f;
}

.search-form {
  display: flex;
  width: 50%;
  margin: 0.5em 0;
  transition: 0.5s ease-in-out;
}

.search-form:hover {
  width: 55%;
}

.search-term {
  width: 100%;
  border: 3px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  color: #000;
}

.search-term:focus {
  outline: none;
}

.search-button {
  width: 80px;
  height: 30px;
  background-color: #f2f4e6;
  text-align: center;
  color: #2c542f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*========== Mobile Menu Overlay ==========*/
#mob-nav {
  background-color: #faf9f6;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 0;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.navbar-content {
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.close {
  color: #2c542f;
  position: relative;
  top: 0.85em;
  font-size: 40px;
  width: 25vw;
  height: 10vh;
}

.menu {
  width: 75%;
}

.menu li {
  margin: 30px;
  text-align: center;
}

.menu a {
  color: #2c542f;
}

.mob-nav {
  font-size: 24px;
  font-weight: bold;
}

.list-main a {
  color: #2c542f;
  padding: 20px;
  width: 80%;
}

.list-main li {
  text-align: left;
  padding: 10px;
}

.user-nav{
  font-size: 14px;
  font-weight: bold;
}

/*========== Category Dropdown ==========*/
.cat-menu {
  padding: 0;
  width: 100%;
}

.cat-menu li a {
  font-size: 14px;
  font-weight: bold;
  color: #2c542f;
}


.mob-sticky {
  font-size: 20px;
  bottom: -0.5em;
}

/*========== Sticky Mobile Menu ==========*/
.mob-sticky .cart-quantity {
  height: 12px;
  width: 12px;
  position: relative;
  bottom: 1.6em;
  right: 1.5em;
  color: #2c542f;
  font-size: 10px;
}

.mob-sticky span {
  top: 0.1em;
}

.fav-button .cart-quantity {
  height: 12px;
  width: 12px;
  position: relative;
  bottom: 1.6em;
  right: 1.5em;
  color: #2c542f;
  font-size: 10px;
}

.fav-button span {
  top: 0.1em;
}

.fav-button {
  font-size: 25px;
  position: relative;
  left: 2em;
  top: 0.3em;
}

@media only screen and (min-width: 768px) {
  /*==================== Desktop Header ====================*/
  #mob-header {
    display: none;
  }

  #mob-nav {
    display: none;
  }

  .dropdown-toggle::after {
    margin-left: 0.4em;
    font-size: 0.6em;
  }

  /*========== Topbar ==========*/
  .topbar {
    background-color: #f2f4e6;
  }

  #desktop-header {
    display: flex;
    flex-direction: column;
  }

  .header-content {
    background-color: #2c542f;
    justify-content: center;
    margin-bottom: 10px;
  }

  #header-logo {
    position: absolute;
    left: 0.6em;
  }

  .header-title-div {
    position: relative;
    right: 2em;
  }

  .header-title {
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  /*========== User Navbar ==========*/
  .list-main {
    display: flex;
    position: absolute;
    right: 0.6em;
  }

  .list-main a {
    color: #f2f4e6;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
  }

  .list-main li {
    padding: 5px;
  }

  .d-user-icon {
    font-size: small;
  } 

  .rb {
    border-right: 2px solid #f2f4e6;
  }

  /*========== Menubar ==========*/
  .menu-bar {
    background-color: #2c542f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
  }

  .header-icon {
    font-size: 25px;
    height: auto;
    position: relative;
    top: 0.1em;
  }

  .menu {
    display: flex;
    margin-left: 10px;
    width: 20%;
  }

  .menu a {
    color: #f2f4e6;
    padding: 10px;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .desktop-nav {
    font-family: Vollkorn, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
  }

  /*===== Category Menu =====*/
  .cat-menu, .shopping-item {
    background-color: #f2f4e6;
    width: 240px;
    position: absolute;
    border-radius: 7px;
    box-shadow: 0 5px 10px 2px rgba(44, 84, 47, 0.5);
    z-index: 2;
    
  }
  
  .cat-menu {
    top: 6.5rem;
    left: 10.5rem;
    padding: 0.5em 0;
  }
  
  .cat-menu li {
    margin: 0;
    line-height: 2;
  }
  
  .cat-menu li:hover {
    background-color: #2c542f; 
  }
  
  .cat-menu li:hover > a {
    color: #f2f4e6;
  }
  
  #shop:hover .cat-menu {
    display: block;
  }

  .cat-sticky {
    top: 2.2rem;
  }
  
  .cat-submenu {
    background-color: #f2f4e6;
    position: absolute;
    width: 200px;
    left: 15em;
    margin-top: -30px;
    padding: 0.5em 0;
    border-radius: 7px;
    box-shadow: 0 5px 10px 2px rgba(44, 84, 47, 0.5);
  }

  .submenu-dropdown:hover .cat-submenu{
    display: block;
  }

  /*===== Searchbar =====*/
  .search-bar {
    position: relative;
    display: block;
    left: 8em;
    width: 65%;
    background-color: transparent;
  }

  .search-form, .search-form:hover {
    width: 60%;
    margin: 1em 0;
  }

  .search-term {
    height: 28px;
  }

  .search-button {
    height: 28px;
    font-size: 15px;
  }

  /*===== Cart Menu =====*/
  .cart-btn {
    display: flex;
    justify-content: flex-end;
    width: 10%;
  }

  .cart-btn:hover .shopping-item {
    display: block;
  }

  .cart-quantity {
    height: 14px;
    width: 14px;
    bottom: 2em;
    right: 1.4em;
    font-size: 10px;
  }

  .shopping-item {
    color: #2c542f;
    font-size: 12px;
    font-weight: 900;
    top: 1.9rem;
    right: 1.5rem;
    max-height: 80vh;
    overflow-y: auto;
  }

  .shopping-item a {
    color: #2c542f;
    font-size: 12px;
    font-weight: 900;
  }

  .shopping-item .cart-img img {
    width: 100px;
    height: 100px;
  }

  .dropdown-cart-header {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    border-bottom: 1px dashed #2c542f;
    padding: 10px;
    margin: 0 10px 10px;
  }

  .dropdown-cart-header a {
    font-size: 14px;
  }

  .shopping-list {
    display: flex;
    flex-direction: column;
  }

  .shopping-list li {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #faf9f6;
    padding: 10px;
    margin: 10px ;
  }

  .shopping-list li:last-child {
    padding-bottom: 20px;
    border-bottom: 1px dashed #2c542f;
  }

  .product-det {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-det .font {
    font-weight: normal;
  }

  .bottom {
    margin: 10px;
    text-align: center;
  }

  /* Animated Checkout Button */
  div.anim-checkout-btn {
    position: relative;
    color: #2c542f;
    display: block;
    border: 2px solid #2c542f;
    border-radius: 10px;
    width: 12em;
    height: 3em;
    padding: 10px;
    margin: 10px auto;
    overflow: hidden;
  }

  div.anim-checkout-btn a {
    position: relative;
    font-size: 16px;
    bottom: 0.4em;
    z-index: 5;
  }

  div.hover {
    width: 12em;
    height: 3em;
    background-color: #2c542f;
    position: absolute;
    left: -13em;
    border-radius: 8px;
    bottom: 0;
    z-index: 0;
    transition: 300ms ease-in-out;
  }

  div.anim-checkout-btn:hover div.hover, div.anim-checkout-btn:hover a {
    transform: translateX(13em);
    color: #f2f4e6;
  }
}
