* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, Verdana, Tahoma, sans-serif;
    background-color: #faf9f6;
    overflow-x: hidden;
}

ul li, ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    margin: 2rem 0;
    width: 75%;
}

.btn {
    background-color: transparent;
    border: none;
}

.collapse {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.dropdown-toggle::after {
    content: '\25BC';
    font-size: 0.8em;
}

#features-pop {
    position: absolute;
    top: 25%;
    left: 25%;
    display: block;
    background-color: #443a2e;
    color: #faf9f6;
    border-radius: 2em;
    z-index: 20;
    width: 50vw;
    height: 50vh;
    text-align: center;
}

/* Slider */
.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.carousel-wrap {
    position: relative;
    left: 0;
    list-style: none;
    height: 100%;
    width: 10000%;
    transition: all 750ms ease;
}

.carousel-wrap li {
    position: relative;
    height: 100%;
    float: left;
}

.carousel-wrap li img {
    width: 100vw;
    height: 50vh;
}

.carousel #slide-prev, .carousel #slide-next {
    color: #faf9f6;
    text-align: center;
    width: 30px;
    line-height: 1;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

.carousel #slide-prev {
    left: 1rem;
}

.carousel #slide-next {
    right: 1rem;
}

.carousel #slide-prev:hover, .carousel #slide-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0;
}

.about-cat {
    margin: 1rem;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.cat-img img {
    max-width: 100vw;
    width: 75vw;
}

.cat-img, .cat-content {
    text-align: center;
    padding: 1rem;
}

.about-cat:nth-child(even) {
    color: #faf9f6;
    background-color: #443a2e;
}

@media screen and (min-width: 768px) {
    .carousel {
        height: 60vh;
    }

    .carousel-wrap li img {
        height: 60vh;
    }

    .index-cat {
        display: grid;
        grid-template-columns: auto auto;
    }

    .about-cat:nth-child(even) {
        background-color: #faf9f6;
        color: #443a2e;
        margin-left: 0;
    }

    .about-cat {
        margin-bottom: 0;
    }

    .about-cat:not(:nth-child(4n + 1)):not(:nth-child(4n + 4)) {
        color: #faf9f6;
        background-color: #443a2e;
    }

    .about-cat {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about-cat img {
        float: left;
        width: 15em;
    }
}