* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Verdana, Tahoma, sans-serif;
  background-color: #f2f4e6;
}

a {
  text-decoration: none;
  color: #2c542f;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.collapse {
  display: none;
}

.error {
  font-size: 0.8em;
  font-style: italic;
  color: red;
  padding: 0 0.4em;
}

input  {
  accent-color: #2c542f;
  cursor: pointer;
}

.shop-signing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  min-height: 95vh;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #d7c89d;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.signing-img-container {
  display: none;
}

.signing-form-container {
  color: #2c542f;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.signing-web-logo {
  width: 6em;
  height: 3em;
}

.signing-web-title {
  font-family: Vollkorn, 'Times New Roman', Times, serif;
  font-size: 1.8em;
  font-weight: 800;
  letter-spacing: 0.05em;
  margin: 0.5em;
}

.signing-form-container h2 {
  font-size: 1.3em;
  margin: 0.5em 0;
  font-weight: 800;
}

.form {
  margin: 1em 0 0;
  text-align: left;
}

.form p {
  font-size: 14px;
  text-align: center;
  margin-top: 1em;
}

.form a {
  font-weight: bold;
}

fieldset {
  width: 98%;
  margin: 1em auto;
  padding: 0.5em 1em;
}

fieldset legend {
  color: #2c542f;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0.5em;
}

.type-selection {
  display: flex;
  flex-direction: column;
}

.type-selection .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.type-selection .form-group label {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 1em;
}

.type-selection .form-group input {
  width: 1em;
  height: 1em;
  margin: 0.5em;
}  

.form-group {
  width: 100%;
}

.form-group input {
  font-size: 14px;
  font-weight: bold;
  display: block;
  background-color: #faf9f6;
  width: 100%;
  height: 2.5em;
  margin: 0.5em auto;
  padding: 0.4em;
  border: 1px solid #2c542f;
}

.fl-bl {
  display: flex;
  flex-direction: column;
  flex: 100%;
  justify-content: space-around;
}

.checkbox {
  margin: 1em 0;
  display: block;
}

.submit-btn {
  text-align: center;
}

.checkbox {
  margin: 1.4em 0;
}

.signing-btn {
  font-size: 1.2em;
  background-color: #2c542f;
  padding: 0.3em 0;
  width: 8em;
  color: #faf4e6;
  font-weight: bold;
  border-radius: 0.65em;
}

@media screen and (min-width: 480px) and (max-width: 768px), screen and (min-width: 1024px) {
  .error {
    font-size: 1em;
    padding: 0 0.5em;
  }

  .shop-signing {
    margin: 1.2em auto;
    padding: 1.2em;
  }
  
  .signing-form-container {
    font-size: 16px;
    margin: 1.2em 0;
  }
  
  .signing-web-logo {
    width: 7em;
    height: 3.5em;
  }
  
  .signing-web-title {
    font-size: 2em;
    letter-spacing: 0.075em;
  }
  
  .signing-form-container h2 {
    font-size: 1.5em;
  }
  
  .form p {
    font-size: 16px;
    margin-top: 1.2em;
  }

  fieldset legend {
    font-size: 18px;
  }

  .type-selection {
    flex-direction: row;
    justify-content: space-around;
  }

  .type-selection .form-group {
    justify-content: center;
  }

  .type-selection .form-group label {
    font-size: 0.9em;
  }

  .type-selection .form-group input {
    width: 1.1em;
    height: 1.1em;
  }

  .form-group input {
    font-size: 16px;
    height: 2.7em;
    padding: 0.5em;
  }

  .fl-bl {
    flex-direction: row;
    justify-content: space-between;
  }

  .fl-bl > .form-group:first-child {
    margin-right: 0.5em;
  }

  #company-name {
    margin-right: 0.5em;
  }

  .checkbox {
    margin: 1.2em 0;
  }

  .signing-btn {
    font-size: 1.4em;
    width: 9em;
  }
}

@media screen and (min-width: 768px) {
  .shop-signing {
    padding: 0;
  }

  .signing-img-container {
    display: block;
    flex: 50%;
    overflow: hidden;
    height: 100%;
    margin-right: 1em;
  }

  .signing-img-container img {
    display: block;
    min-height: 100%;
    min-width: 100%;
  }

  .signing-form-container {
    margin-right: 1em;
    flex: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .shop-signing {
    padding: 0;
  }
  
  .signing-form-container {
    font-size: 18px;
  }
  
  .form p {
    font-size: 18px;
  }

  .type-selection .form-group input {
    width: 0.9em;
    height: 0.9em;
  }

  .form-group input {
    font-size: 18px;
    height: 2em;
  }
}

@media screen and (min-width: 1366px) {
  .error {
    font-size: 1vw;
    padding: 0 0.6vw;
  }

  .shop-signing {
    margin: 1.5vh auto;
  }
  
  .signing-form-container {
    font-size: 1vw;
  }
  
  .signing-web-title {
    font-size: 2.8vw;
    letter-spacing: 0.5vw;
  }
  
  .signing-form-container h2 {
    font-size: 1.5vw;
  }
  
  .form p {
    font-size: 1vw;
    margin-top: 2.5vh;
  }

  fieldset legend {
    font-size: 1.2vw;
  }

  .type-selection .form-group label {
    font-size: 1vw;
  }

  .type-selection .form-group input {
    width: 1vw;
    height: 1vw;
  }

  .form-group input {
    font-size: 1vw;
    height: 2.2vw;
    padding: 0 0.8vw;
  }

  .fl-bl > .form-group:first-child {
    margin-right: 1.3vw;
  }

  #company-name {
    margin-right: 1.3vw;
  }
}